@import "tailwindcss";

  @theme {
      --color-primary: #830000; /*Red*/
      --color-secondary: #FBFAF9; /*White*/
      --color-textcolor: #1B1C1E; /*Black*/
      --color-accent: #DDB440; /*Yellow*/
      --color-shadow: #690000; /*Red Shadow*/
      --color-green: #34A751; /*Green*/
    }

  @theme {
      --text-xl: 2rem; /*32px*/
      --text-lg: 1.75rem; /*28px*/
      --text-md: 1.5rem; /*24px*/
      --text-sm: 1.125rem; /*18x*/
      --text-xs: 1rem; /*16px*/
      --text-xxs: 0.875rem; /*14px*/
    }

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-3px); }
  20%, 40%, 60%, 80% { transform: translateX(3px); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.scroll-lock {
  overflow: hidden !important;
  height: 100vh !important;
}